<div id="createForm">

    <h1 id="createSchoolTitle">{{ data.title }}</h1>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="myform">

        <div class="myInputs">
            <mat-form-field class="example-full-width" *ngFor="let field of data.fields">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.label">
            </mat-form-field>
        </div>

        <button class="actionButtons" type="button" mat-dialog-close mat-raised-button color="warn">Cancel</button>
        <button class="actionButtons" [disabled]="createForm.invalid" type="submit" mat-raised-button color="primary">Create</button>
    </form>
</div>