<div id="deleteForm">

    <h1 id="deleteSchoolTitle">{{ data.title }}</h1>
    <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()" class="myform">

        <div class="myInputs">
            <mat-form-field class="example-full-width" *ngFor="let field of data.fields">
                <mat-label class="formInput">{{ field.label }}</mat-label>
                <input class="formInput" matInput [formControlName]="field.label">
            </mat-form-field>
        </div>

        <button class="actionButtons" type="button" mat-dialog-close mat-raised-button color="accent">Cancel</button>
        <button class="actionButtons" type="submit" mat-raised-button color="warn">Delete</button>
    </form>
</div>